<%= form_for @user do |f| %>

  <ul>

    <li>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </li>

    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>

    <li>
      <%= f.label :categories, "Select Three News Categories" %><br />
      <%= f.collection_select :category1, Category.all, :name, :name %>
      <%= f.collection_select :category2, Category.all, :name, :name %>
      <%= f.collection_select :category3, Category.all, :name, :name %>
    </li>
    <%= f.submit %>
  </ul>
<% end %>
