<h1>Welcome Back!</h1>

<%= form_for @user, url: "/login" do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>
       <br/>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/>
      <%= f.submit 'log in' %>
    <% end %>
