<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Dank Article Application!</h1>
      <% if logged_in? %>
         <%= current_user.name %> is logged in
         <%= button_to "logout", "/logout" %>
      <% end %>
    <%= yield %>
  </body>
</html>
